{{> "systems/dnd5e/templates/actors/character-sheet.hbs"}}

<div class="tab crafting" data-tab="crafting">
    {{> "modules/vikarovs-guide-to-kaeliduran-crafting/templates/crafting-tab.hbs" crafting}}
</div>